In [15]:
import sys

sys.path.append('..')
from pathlib import Path

import dython
import pandas as pd
from dython.nominal import associations, numerical_encoding
from table_evaluator import *

In [16]:
assert dython.__version__ == '0.7.3', 'Dython version should be version 0.7.3'

In [17]:
pd.__version__

'2.0.3'

### Set nominal columns and load data

In [18]:
nominal_cols = ['trans_type', 'trans_operation', 'trans_k_symbol']
data_folder = Path('../data')
test_data_folder = Path('../data/tests')

In [19]:
real = pd.read_csv(data_folder / 'real_test_sample.csv')
fake = pd.read_csv(data_folder / 'fake_test_sample.csv')

### Create numerical encodings

In [20]:
real_num_enc = numerical_encoding(real, nominal_columns=nominal_cols)
fake_num_enc = numerical_encoding(fake, nominal_columns=nominal_cols)

In [21]:
real_num_enc.to_parquet(test_data_folder / 'real_test_sample_numerical_encoded.parquet')
fake_num_enc.to_parquet(test_data_folder / 'fake_test_sample_numerical_encoded.parquet')

### Create Associations

In [22]:
real_assoc = associations(real, nominal_columns=nominal_cols, compute_only=True)['corr']
real_assoc_theil = associations(real, nominal_columns=nominal_cols, nom_nom_assoc='theil', compute_only=True)['corr']

fake_assoc = associations(fake, nominal_columns=nominal_cols, compute_only=True)['corr']
fake_assoc_theil = associations(fake, nominal_columns=nominal_cols, nom_nom_assoc='theil', compute_only=True)['corr']

In [24]:
pd.read_parquet(test_data_folder / 'real_associations.parquet')

,trans_id,account_id,trans_amount,balance_after_trans,trans_type,trans_operation,trans_k_symbol,trans_date
trans_id,1.000000,0.522830,-0.220340,0.028876,0.474287,0.835292,0.841451,0.054574
account_id,0.522830,1.000000,0.025829,0.108967,0.048279,0.088169,0.164624,0.052132
trans_amount,-0.220340,0.025829,1.000000,0.394746,0.193900,0.531158,0.494940,0.016639
balance_after_trans,0.028876,0.108967,0.394746,1.000000,0.124192,0.230062,0.178185,0.123935
trans_type,0.474287,0.048279,0.193900,0.124192,1.000000,0.709220,0.516440,0.031496
trans_operation,0.835292,0.088169,0.531158,0.230062,0.709220,1.000000,0.663146,0.093090
trans_k_symbol,0.841451,0.164624,0.494940,0.178185,0.516440,0.663146,1.000000,0.107945
trans_date,0.054574,0.052132,0.016639,0.123935,0.031496,0.093090,0.107945,1.000000

In [ ]:
# Give the index a name, so we can set this column as index on loading the csv
# for i in [real_assoc, real_assoc_theil, fake_assoc, fake_assoc_theil]:
#     i.index.rename('index', inplace=True)

real_assoc.to_parquet(test_data_folder / 'real_associations.parquet')
real_assoc_theil.to_parquet(test_data_folder / 'real_associations_theil.parquet')

fake_assoc.to_parquet(test_data_folder / 'fake_associations.parquet')
fake_assoc_theil.to_parquet(test_data_folder / 'fake_associations_theil.parquet')

In [ ]:
pd.read_parquet(test_data_folder / 'real_associations_theil.parquet')

,trans_id,account_id,trans_amount,balance_after_trans,trans_type,trans_operation,trans_k_symbol,trans_date
trans_id,1.000000,0.522830,-0.220340,0.028876,0.474287,0.835292,0.841451,0.054574
account_id,0.522830,1.000000,0.025829,0.108967,0.048279,0.088169,0.164624,0.052132
trans_amount,-0.220340,0.025829,1.000000,0.394746,0.193900,0.531158,0.494940,0.016639
balance_after_trans,0.028876,0.108967,0.394746,1.000000,0.124192,0.230062,0.178185,0.123935
trans_type,0.474287,0.048279,0.193900,0.124192,1.000000,0.904474,0.482048,0.031496
trans_operation,0.835292,0.088169,0.531158,0.230062,0.459150,1.000000,0.604179,0.093090
trans_k_symbol,0.841451,0.164624,0.494940,0.178185,0.250205,0.617749,1.000000,0.107945
trans_date,0.054574,0.052132,0.016639,0.123935,0.031496,0.093090,0.107945,1.000000